html {
    margin: 100%;
    height: 100%;
    padding: 50px 280px;
    margin: auto;
    background: black;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
    
    
}
body {
    background: lightskyblue;
    height: 90%;
    margin: auto;
    
}
.font {
    height: 70%;
    display: table; 
    margin: 0 auto;
    padding: 0px 0px; 

}

.container {  
    height: 91%;
    vertical-align: middle;   
    background-color: #fff; 
    -webkit-box-shadow: 10px 11px 31px -1px rgba(127,178,189,1);
    -moz-box-shadow: 10px 11px 31px -1px rgba(127,178,189,1);
    box-shadow: 10px 11px 31px -1px rgba(127,178,189,1); 
}
.main {
   padding: 0px;
    margin: 20px;
}

h1 {
    padding: 10px;
    text-align: center;
    background: lightblue;
}

nav {
    display: block; 
    margin: auto;
    background: lightblue;

}
 .up-prev {
     padding: 15px 0px;
     display: block;
     margin: auto;
     text-align: center; 
 }
a {

    letter-spacing: 2px;
    text-decoration: none;
}
    
 a:hover {
      color: cornflowerblue;
  }

 .images {
      display: block;
  }

img {
    
    
    padding: 0px;
    margin: 0px;
    
        
}  
p {
    
    padding: 0px;
    margin: 0px;
    
}

  footer {
      letter-spacing: 10px;
      padding: 0px 15px 0px 40px;
      background: lightblue;
  }