
body {
    background: black;
    font-family: Times, serif;
    width: 100%;  
    padding-left: 280px;
    display: block;
    
 }

 .font {
    background: #fff;
    float: left;
    width: 65%;
    height: 750px;
    padding-top: 40px;
    padding-left: 20px;
    -webkit-box-shadow: inset 10px 10px 300px -24px rgba(101,49,191,1);
    -moz-box-shadow: inset 10px 10px 300px -24px rgba(101,49,191,1);
    box-shadow: inset 10px 10px 300px -24px rgba(101,49,191,1);    
 }

 
 .container {
    background:#fff;
    width: 35%;
    height: 65%;
    padding-bottom: 180px;
    border-radius: 30px;
    margin: 0px auto;
    -webkit-box-shadow: 0px 2px 34px 0px rgba(250,225,250,.9);
    -moz-box-shadow: 0px 2px 34px 0px rgba(250,225,250,.9);
    box-shadow: 0px 2px 34px 0px rgba(250,225,250,.9);
 }
